nav {
  display: block;
}

nav:first-child {
  margin-left: 10px;
}

a {
  margin-right: 50px;
  font-size: 15px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 60px;
  background-color: rgb(216, 216, 216);
}

.promo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 300px;
  padding: 20px 0;
  background-color: rgb(216, 216, 216);
}

.promo__wrapper {
  display: flex;
  align-items: center;
}

.promo__wrapper > * {
  margin: 0 20px;
}

.promo__img {
  width: 650px;
}

.promo__img img {
  width: 100%;
}

.promo__title {
  max-width: 400px;
}
