h1 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

a {
  font-size: 15px;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 300px;
  margin: 20px;
  background-color: rgb(216, 216, 216);
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__wrapper > * {
  margin: 0 30px;
}

.header__img {
  max-width: 500px;
}

.header__img img {
  width: 100%;
}

.header__nav a {
  margin-right: 50px;
}

.header__title {
  max-width: 400px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: calc(4 * ((100%-10px) / 5));
  margin-left: 10px;
}

.main__article-wrapper {
  width: calc((100%-20px) / 4);
  margin: 0 10px;
  padding: 20px;
  background-color: rgb(216, 216, 216);
}

.main__second-article {
  margin-top: 30px;
}

.main__content {
  width: calc(3 * ((100%-20px) / 4));
  padding: 20px;
  margin: 0 10px;
  background-color: rgb(216, 216, 216);
}

.main__content section:not(:first-child) {
  margin-top: 30px;
}

.aside {
  width: calc((100%-30px) / 5);
  margin: 0 20px 0 10px;
  padding: 20px;
  background-color: rgb(216, 216, 216);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(216, 216, 216);
}

.footer > p {
  width: 280px;
}

.footer__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__nav a {
  margin-bottom: 10px;
}
